body {
  margin: 0;
  padding: 0;
  font-family: 'Ramabhadra', sans-serif;
}

header {
  border-bottom: 0.5px solid #646363;
  margin-left: 5%;
  margin-right: 5%;
}

header div, header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  margin: 1%;
}

header h4 {
  margin-top: 1%;
  color: #646363;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

header ul li {
  padding-right: 10%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header a {
  color: black;
  text-decoration: none;
}

header .home {
  font-size: 5vh;
}

.tripartite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3%;
  margin-right: 5%;
}

.tripartite .news {
  padding-left: 2%;
  padding-right: 2%;
  border-right: 0.5px solid black;
  width: 20%;
}

.tripartite .news-img {
  width: 180px;
  height: 150px;
}

.tripartite .features {
  padding-left: 2%;
  padding-right: 2%;
  border-right: 0.5px solid black;
  width: 50%;
}

.tripartite .features a {
  text-decoration: none;
  color: black;
}

.tripartite .features a a:hover {
  color: #916616;
}

.tripartite .feature-article {
  display: none;
}

.tripartite .feature-cover {
  width: 570px;
  height: 350px;
}

.tripartite .editorial {
  padding-left: 2%;
  padding-right: 2%;
  border-right: 0.5px solid black;
  width: 25%;
  border-right: none;
}

.tripartite .editorial article {
  padding-bottom: 2%;
}

.tripartite .editorial-img {
  width: 340px;
  height: 400px;
}

.article-focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-focus h3 {
  padding-right: 2%;
}

.article-focus .view-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70vh;
}

/* Dropdown Button */
.dropbtn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  cursor: pointer;
  width: 10vh;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  top: 70%;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  width: 110%;
  padding: 2%;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-article, .snippet, .emotion-img {
  width: 40%;
  padding: 1%;
  margin: 1%;
  text-align: left;
  font-size: 2.5vh;
  border-bottom: 0.5px solid black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-1 {
  text-align: center;
  font-size: 4vh;
}

.news-links {
  text-decoration: none;
  color: black;
  text-align: right;
}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */